@model ProductStore.Data.Models.Store
<div>
    <h2>Название магазина: @Model.TitleName</h2>
    <p>Местоположение :@Model.Adress</p>
    <p>
        @foreach (var el in Model.Products)
        {
        <p> Магазин: @el.ProductsName</p>
        }
        </p>
    <p>
        <a asp-action="EditStore" asp-controller="Stores" asp-route-id="@Model.StoreId">Изменить</a>
    </p>
    <p>
        <form asp-controller="Stores" asp-action="DeleteStore" method="post" asp-route-id="@Model.StoreId">
            <input type="submit" value="Удалить" />
        </form>
    </p>

</div>